{% extends 'base.html' %}
{% load static %}

{% block title %}홈{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
    <header id="info">
        <h1><b>RoDeLa & <a href="/">Pypy.ga</a></b></h1>
        <!--<h1><b><a href="https://pypy.ga">PYPY.ga</a></b></h1>-->
        <!--<h3 class="desktop"><b>파이썬 코딩 연습은 <a href="/problem/10000"><u>파이가</u></a>!</b></h3>-->

        <br>
        <p><a href="/">파이가</a>는 온라인으로 파이썬 코드를<br class="mobile"> 채점받을 수 있는 공간입니다 :)</p>
        <p><!--<a href="/problem/10000">파이가 이용 가이드</a>를 읽고, <br class="mobile">-->아래의 문제를 선택하여 코드를 작성해보세요!</p>
        <!--<br>
        <p style="color: gray;">📢 <a href="/problem/10022">369 게임</a> 문제의<br class="mobile"> 채점 데이터 오류가 수정되었습니다.</p>-->
    </header>

    {% for category in list %}
        <header>
            <h2 class="category"><b>{{ category.category }}</b></h2>
        </header>
        <section>
            {% for problem in category.problems %}
                <aside onclick="location.href = '/problem/{{ problem.id }}'">
                    <h3 class="problem_name">{{ problem.name }}</h3>
                    {% if 'score' in problem %}
                        <h5>🏅 {{ problem.score }} / {{ problem.level }}</h5>
                    {% else %}
                        <h5>🏅 {{ problem.level }}</h5>
                    {% endif %}
                    <small>{{ problem.id }}</small>
                </aside>
            {% endfor %}
        </section>
        <br>
    {% endfor %}
    <footer>
        <a href="https://instagram.com/rodela._.jsh" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://pf.kakao.com/_xnUKNxj" target="_blank"><i class="fa-sharp fa-solid fa-comment"></i></a>
    </footer>
{% endblock %}
