{% extends 'base.html' %}
{% load static %}

{% block title %}홈{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1><b>Life is short.<br class="mobile"> You need <a href="https://pypy.ga">Pypy.ga</a></b></h1>
        <h3 class="desktop"><b>파이썬 코딩 연습은 <a href="/problem/10000"><u>파이가</u></a>!</b></h3>

        <br>
        <p>파이가는 온라인으로 파이썬 코드를<br class="mobile"> 채점받을 수 있는 공간입니다 :)</p>
    </header>

    {% for category in list %}
        <header>
            <h2 class="category"><b>{{ category.category }}</b></h2>
        </header>
        <section>
            {% for problem in category.problems %}
                <aside onclick="location.href = '/problem/{{ problem.id }}'">
                    <h3 class="problem_name">{{ problem.name }}</h3>
                    <h5>{{ problem.id }}</h5>
                </aside>
            {% endfor %}
        </section>
        <br>
    {% endfor %}
    <footer>
    </footer>
{% endblock %}
