header .category {
    background-color: var(--color-accent);
    border-radius: 30px;
    padding: 20px;
}

aside {
    cursor: pointer;
}

.problem_name {
    color: var(--color-link);
    font-weight: bold;
}
