{% extends 'base.html' %}
{% load static %}

{% block title %}랭킹{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'account.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>랭킹</h1>
    </header>

    {% if first %}
        <section>
            <aside>
                <h1>🥇</h1>
                <h3>{{ first.id }}</h3>
                <h4>🏅 {{ first.score }}</h4>
            </aside>
        </section>
        <section>
            <aside>
                <h1>🥈</h1>
                <h3>{{ second.id }}</h3>
                <h4>🏅 {{ second.score }}</h4>
            </aside>
            <aside>
                <h1>🥉</h1>
                <h3>{{ third.id }}</h3>
                <h4>🏅 {{ third.score }}</h4>
            </aside>
        </section>
    {% endif %}

    <table>
        <thead>
            <tr>
                <td>#</td>
                <td>학번</td>
                <td>점수</td>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    {% if first %}
                        <td>{{ forloop.counter|add:"3" }}</td>
                    {% else %}
                        <td>{{ forloop.counter }}</td>
                    {% endif %}
                    <td><b>{{ account.id }}</b></td>
                    <td>🏅 {{ account.score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
