{% extends 'base.html' %}
{% load static %}

{% block title %}로그인{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1><b>로그인</b></h1>
        <h5>학교 정보 시간에 사용하는<br class="mobile"> 구글 계정으로 로그인할 수 있습니다.</h5>
    </header>
    <p><code>js22-학번@sonline20.sen.go.kr</code></p>
    <!--<p>비밀번호: <code>jam학번</code></p>-->
    <a href="{{ login_url }}"><b>구글 로그인 바로가기</b></a>
    <p style="color: red;"><b>카카오톡</b>으로 접속 시, <br class="mobile">위의 버튼을 길게 눌러 <br class="mobile"><b>"다른 브라우저로 열기"</b>를 선택해주세요.</p>
    <br>
    <br>
    <img src="{% static 'account_select.png' %}" width="320">
{% endblock %}
