<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% block meta %}
        <title>{% block title %}Hello Python{% endblock %}</title>
        <meta name="description" content="파이썬 트레이닝 사이트" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static '/favicon.ico' %}" />
    {% block style %}
        <!-- Google fonts-->

    {% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>
</html>
