{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
    <h1>Hello World!</h1>

    <table>
        <tr id="header">
            <th>#</th>
            <th>문제</th>
            <th>난이도</th>
            <th>제출 수</th>
            <th>정답</th>
        </tr>
        <tr>
            <th>12345</th>
            <th>test</th>
            <th>5</th>
            <th>9999</th>
            <th>0</th>
        </tr>
        <tr>
            <th>10000</th>
            <th><a href="/problem/10000">파이가 이용 가이드</a></th>
            <th>1</th>
            <th>5</th>
            <th>3</th>
        </tr>
        <tr>
            <th>10001</th>
            <th><a href="/problem/10001">Hello World</a></th>
            <th>1</th>
            <th>5</th>
            <th>3</th>
        </tr>
        <tr>
            <th>10002</th>
            <th><a href="/problem/10002">교가</a></th>
            <th>1</th>
            <th>5</th>
            <th>3</th>
        </tr>
        <tr>
            <th>10005</th>
            <th><a href="/problem/10005">우 to the 영 to the 우</a></th>
            <th>1</th>
            <th>5</th>
            <th>3</th>
        </tr>
    </table>
{% endblock %}
