{% extends 'base.html' %}
{% load static %}

{% block title %}제출 #{{ submit_id }}{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
{% endblock %}

{% block module %}
    {{ block.super }}
    <script src="{% static 'detail.js' %}"></script>
{% endblock %}

{% block content %}
    <header>
        <h3><a href="/problem/{{ problem_id }}">{{ problem_id }}</a> / <a href="/submit/{{ submit_id }}"><u>#{{ submit_id }}</u></a></h3>
        <br>
        <h1>
            {% if result == 'WA' %} ❌ 틀렸습니다
            {% elif result == 'AC' %} ✅ 맞았습니다!!
            {% elif result == 'CP' %} ✅ 실행 완료
            {% elif result == 'TLE' %} 🕒 시간 제한 초과
            {% elif result == 'RTE' %} 💥 오류 발생 (런타임 에러)
            {% elif result == 'IE' %} ⚠️내부 오류 (다시 시도하거나, 관리자에게 문의하세요)
            {% else %} 🤔 결과를 알 수 없음 (새로고침 하거나, 관리자에게 문의하세요)

            {% endif %}
        </h1>
        {% if result == 'RTE' %}
        <pre><code>
{{ stderr }}
        </code></pre>
        {% endif %}
    </header>

    <section>

        {% if result == 'WA' or result == 'TLE' or result == 'RTE' %}
            <aside>
                <h3>틀린 입력</h3>
                <h5><a href="#std">입출력 보기</a></h5>
            </aside>
        {% endif %}

        {% if result == 'AC' or result == 'CP' %}
            <aside>
                <h3>최대 소요 시간</h3>
                <h5>{{ time_usage }} <small>ms</small></h5>
            </aside>
            <aside>
                <h3>최대 메모리 사용량</h3>
                <h5>{{ memory_usage }} <small>KB</small></h5>
            </aside>
        {% endif %}

        <aside>
            <h3>코드</h3>
            <h5><a href="#code">코드 보기</a> <small>({{ code_length }} byte)</small></h5>
        </aside>
        <aside>
            <h4>문제 번호</h4>
            <h5><a href="/problem/{{ problem_id }}">{{ problem_id }}</a></h5>
        </aside>
        <aside>
            <h4>제출 시각</h4>
            <h5>{{ submit_time }}</h5>
        </aside>
        <aside>
            <h4>사용자</h4>
            <h5>{{ user_id }}</h5>
        </aside>
        <aside>
            <h4>제출 번호</h4>
            <h5><a href="/submit/{{ submit_id }}">{{ submit_id }}</a></h5>
        </aside>

    </section>

    <header>
        <h4>코드</h4>
    </header>
    <div id="code">
        <pre><code>
{{ code }}
        </code></pre>
    </div>

    {% if result == 'WA' or result == 'TLE' or result == 'MLE' or result == 'RTE' %}
        <header>
            <h4>틀린 입력</h4>
        </header>
        <section id="std">

            <aside>
                <h3>입력</h3>
                <pre><code>
{{ stdin }}
                </code></pre>
            </aside>

            {% if result == 'WA' %}
            <aside>
                <h3>옳은 출력</h3>
                <pre><code>
{{ correct_stdout }}
                </code></pre>
            </aside>
            {% endif %}

            {% if result != 'TLE' %}
            <aside>
                <h3>실제 출력</h3>
                <pre><code>
{{ stdout }}
                </code></pre>
            </aside>
            {% endif %}
        </section>
    {% endif %}
<!--    <script>load_submit('{{ submit | safe }}')</script>-->
{% endblock %}
