{% extends 'base.html' %}
{% load static %}

{% block title %}제출 #{{ submit_id }}{% endblock %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <header>
        <h1><a href="/submit/{{ submit_id }}"><u>#{{ submit_id }}</u></a></h1>
    </header>
    <table>
        <thead>
            <tr id="header">
                <th>#</th>
                <th>문제</th>
                <th>사용자</th>
                <th>결과</th>
                <th>코드 길이</th>
                <th>메모리</th>
                <th>소요 시간</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ submit_id }}</td>
                <td><a href="/problem/{{ problem_id }}">{{ problem_id }}</a></td>
                <td>{{ user_id }}</td>
                <td>{{ result }}</td>
                <td>{{ code_length }}</td>
                <td>{{ memory_usage }}</td>
                <td>{{ time_usage }}</td>
            </tr>
        </tbody>
    </table>
    <p>코드</p>
    <p>{{ code }}</p>
    <p>입력</p>
    <p>{{ stdin }}</p>
    <p>출력</p>
    <p>{{ stdout }}</p>
    <p>오류</p>
    <p>{{ stderr }}</p>
{% endblock %}
