{% extends 'base.html' %}
{% load static %}

{% block title %}제출 #{{ submit_id }}{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
{% endblock %}

{% block module %}
    {{ block.super }}
    <script src="{% static 'detail.js' %}"></script>
{% endblock %}

{% block content %}
    <header>
        <h3><a href="/problem/{{ problem_id }}">{{ problem_id }}</a> / <a href="/submit/{{ submit_id }}"><u>#{{ submit_id }}</u></a></h3>
        <br>
        <h1 id="result"><a href="/submit/result_info#{{ result }}">{{ result_message }}</a></h1>

        {% if result == 'IE' %}
            <h5>다시 시도해보아도 오류가 반복된다면, 좌측 상단의 '문의'를 눌러 신고해주세요.</h5>
        {% endif %}

        {% if result == 'RTE' %}
            {% if 'error' in stderr %}
                <section>
                    <aside>
                        <h3>{{ stderr.error }}</h3>
                        {% if stderr.cause is not None %}
                            <p>{{ stderr.cause }}</p>
                        {% else %}
                            <p><small>추가 정보 없음</small></p>
                        {% endif %}
                    </aside>
                    <aside>
                        <h3>오류 발생 지점</h3>
                        <h5><b>{{ stderr.line_num }}</b>번째 줄</h5>
            <!--            <pre><code>{{ line_code }}</code></pre>-->
                    </aside>
                </section>
            {% else %}
                <pre><code>{{ stderr.stderr }}</code></pre>
            {% endif %}
        {% endif %}

        {% if result == 'CP' %}
        <section>
            <aside>
                <h3>입력</h3>
                <pre><code>{{ stdin }}</code></pre>
            </aside>
            <aside>
                <h3>출력</h3>
                <pre><code>{{ stdout }}</code></pre>
            </aside>
        </section>
        {% endif %}

    </header>

    {% if result == 'WA' or result == 'TLE' or result == 'MLE' or result == 'RTE' or result == 'OLE' %}
        <div id="std">
            <section>
                <aside>
                    <h3>입력</h3>
                    <pre><code>{{ stdin }}</code></pre>
                </aside>

                {% if result == 'WA' or result == 'MLE' or result == 'RTE' %}
                <aside>
                    <h3>❌ 출력</h3>
                    <pre><code>{{ stdout }}</code></pre>
                </aside>
                {% endif %}

                {% if result == 'WA' %}
                <aside>
                    <h3>⭕ 정답 출력</h3>
                    <pre><code>{{ correct_stdout }}</code></pre>
                </aside>
                {% endif %}
            </section>
        </div>
    {% endif %}

    <section>

        {% if result == 'AC' or result == 'CP' %}
            <aside>
                <h3>최대 소요 시간</h3>
                <h5>{{ time_usage }} <small>ms</small></h5>
            </aside>
            <aside>
                <h3>최대 메모리 사용량</h3>
                <h5>{{ memory_usage }} <small>KB</small></h5>
            </aside>
        {% endif %}

        <aside>
            <h3>코드</h3>
            <h5><a href="#code" id="view_code">코드 보기</a> <small>({{ code_length }} byte)</small></h5>
        </aside>
        <aside>
            <h4>제출 시각</h4>
            <h5>{{ submit_time }}</h5>
        </aside>
        <aside>
            <h4>사용자</h4>
            <h5>{{ user_id }}</h5>
        </aside>

    </section>

    <br>
    {% if code %}
        <h4>코드</h4>
        <section id="code">
            <pre><code>{{ code }}</code></pre>
        </section>
    {% else %}
        <script>
            init_view_code();
        </script>
    {% endif %}

    {% if result == 'PRE' or result == 'ON' %}
        <script src="{% static 'ws.js' %}"></script>
        <script>
            register('{{ submit_id }}');
        </script>
    {% endif %}

    {% if result == 'AC' %}
        <a href="/"><i>문제 목록으로 돌아가기</i></a>
    {% else %}
        <a href="/problem/{{ problem_id }}"><b>문제로 돌아가기</b></a>
    {% endif %}

    {% if account_user_id == user_id and problem_id >= 13000 %}
        <br><br>
        <a href="https://github.com/HURDOO/pypy.ga/blob/rodela/.problems/{{ problem_id }}/{{ problem_id }}.py" target="_blank">모범 답안 보기</a>
    {% endif %}
    <footer>
    </footer>
{% endblock %}
