{% extends 'base.html' %}
{% load static %}

{% block title %}제출{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'submit.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>제출 목록</h1>
        <br>
        <section>
            <form id="search">
                <input type="number" id="submit_id" name="submit_id" placeholder="모든 문제">
                <input type="number" id="user_id" name="user_id" placeholder="모든 사용자">
                <input type="submit" value="검색">
            </form>
        </section>
    </header>
    <section>
        {% for submit in submits %}
            <aside>
                <h4>{{ submit.result_message }}</h4>
                <p><a href="/problem/{{ submit.problem_id }}">{{ submit.problem_id }}</a> / <a href="/submit/{{ submit.submit_id }}">#{{ submit.submit_id }}</a> <small>/ @{{ submit.user_id }}</small></p>
            </aside>
        {% endfor %}
    </section>
    <script src="{% static 'submit.js' %}"></script>
{% endblock %}
