/* CSS of Naver NanumBarunGothic - https://github.com/moonspam/NanumBarunGothic */
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

.markdown-body, code {
    font-family: NanumBarunGothic
}

.markdown-body code {
    /* font-family: Consolas,Monaco, 'Andale Mono','Ubuntu Mono',monospace; */
    font-family: Consolas, Monaco, 'Andale Mono', D2Coding, 'Ubuntu Mono', monospace;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
