/* CSS of Naver D2Coding - https://github.com/wan2land/d2coding */
@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");

zero-md {
    text-align: left;
    word-break: keep-all;
}

nav {
    margin-bottom: 0;
}

div#container {
    display: flex;
    justify-content: space-evenly;
    height: 93%;
}

form#problem {
    padding: 15px;
    overflow: auto;
}

div#editor {
    margin-bottom: 15px;
    /*font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', 'D2Coding', monospace */
    font-family: D2Coding, monospace
}

div#form_button, div#test_data {
    display: flex;
    justify-content: space-evenly;
}

textarea#input_data {
    width: 50%;
    height: 3.5em;
    resize: none;
    white-space: nowrap;
}

/* Desktop */
@media screen and (min-width: 540px) {
    div#container {
        flex-direction: row;
    }

    form {
        height: 100%;
        width: 50%;
    }

    div#editor {
        width: 100%;
        height: 95%;
    }
}

/* Mobile */
@media screen and (max-width: 539px) {
    div#container {
        flex-direction: column;
    }

    form {
        height: 50%;
        width: 100%;
    }

    div#editor {
        width: 100%;
        height: 70%;
    }
}
