form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

input {
    text-align: center;
}

/* hide number arrow */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
