{% extends 'base.html' %}
{% load static %}

{% block title %}문제 #{{ problem_id }}{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'problem.css' %}?v=20230227">
{% endblock %}

{% block module %}
    {{ block.super }}
    <!-- Zero-MD (https://github.com/zerodevx/zero-md) -->
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>

    <!-- ACE editor 5 (https://github.com/ajaxorg/ace) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ext-language_tools.min.js"></script>
    <script src="{% static 'problem.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div id="container">
        <form id="problem">
            <zero-md>
                <template>
                    <link
                      rel="stylesheet"
                      href="https://cdn.jsdelivr.net/gh/sindresorhus/github-markdown-css@4/github-markdown.min.css"
                    />
                    <link
                      rel="stylesheet"
                      href="https://cdn.jsdelivr.net/gh/PrismJS/prism@1/themes/prism.min.css"
                    />
                    <link rel="stylesheet" href="{% static 'md.css' %}">
                </template>
                <script type="text/markdown">{{ problem_md|safe }}</script>
            </zero-md>
        </form>
        {% if account_user_id %}
        <form id="submit" action="/submit/new" method="post" onsubmit="return onFormSubmit();">
            {% csrf_token %}
            <div id="editor">{{ code }}</div>
            <textarea id="code" name="code" hidden></textarea>
            <input type="number" name="problem_id" value="{{ problem_id }}" hidden>
            <div id="form_button">
                <input type="submit" name="type" value="테스트 실행" onclick="this.form.submitted='T'">
                <input type="submit" name="type" value="코드 제출" onclick="this.form.submitted='G'">
            </div>
            <div id="test_data" style="display: none">
                <textarea id="input_data" name="input_data" placeholder="입력 데이터 (Enter로 여러 입력값 입력)"></textarea>
                <input type="submit" name="type" value="테스트 실행" onclick="this.form.submitted='TT'">
            </div>
        </form>
        {% else %}
        <form style="text-align: center;">
            <a href="/account/login"><b>로그인하여 문제 풀기</b></a>
        </form>
        {% endif %}
    </div>
{% endblock %}
