{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'problem.css' %}">
{% endblock %}

{% block module %}
    {{ block.super }}
    <!-- Zero-MD (https://github.com/zerodevx/zero-md) -->
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>

    <!-- ACE editor 5 (https://github.com/ajaxorg/ace) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ext-language_tools.min.js"></script>
    <script src="{% static 'problem.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div id="container">
        <div id="problem">
            <zero-md src="{{ problem_url }}"></zero-md>
        </div>
        <form action="/submit" method="post">
            {% csrf_token %}
            <div id="editor">print('Hello World!')</div>
            <textarea id="code" name="code" hidden>test</textarea>
            <input type="submit">
        </form>
    </div>
{% endblock %}
